include components/index
block content
    -
        const sounds = [
            {
                sound: 'audio',
                name: 'Sound Name',
                time: '00:12',
                description: 'Confused excited crowd slight panic and distress',
                author: 'Shocking, jumpscare',
            },
            {
                sound: 'audio',
                name: 'Sound Name',
                time: '00:12',
                description: 'Confused excited crowd slight panic and distress',
                author: 'Shocking, jumpscare',
            },
            {
                sound: 'audio',
                name: 'Sound Name',
                time: '00:12',
                description: 'Confused excited crowd slight panic and distress',
                author: 'Shocking, jumpscare',
            },
            {
                sound: 'audio',
                name: 'Sound Name',
                time: '00:12',
                description: 'Confused excited crowd slight panic and distress',
                author: 'Shocking, jumpscare',
            },
            {
                sound: 'audio',
                name: 'Sound Name',
                time: '00:12',
                description: 'Confused excited crowd slight panic and distress',
                author: 'Shocking, jumpscare',
            },
            {
                sound: 'audio',
                name: 'Sound Name',
                time: '00:12',
                description: 'Confused excited crowd slight panic and distress',
                author: 'Shocking, jumpscare',
            }
        ]
        const category = [
            {
                name: 'All',
                active: 'active'
            },
            {
                name: 'Jumpscare',
                active: ''
            },
            {
                name: 'Mellow',
                active: ''
            },
            {
                name: 'Happiness',
                active: ''
            },
            {
                name: 'Ambience',
                active: ''
            },
            {
                name: 'Zonk',
                active: ''
            },
        ]
    div.sound-block.container.j-sound-block
        h3.sound-block__title Best sound effects for youtube videos
        div.sound-block__sort
            div.sound-block__sort-names
                each item in category
                    p.sort-name(class=item.active) #{item.name}
            div.sound-block__filter.j-filter-block
                div.sound-block-filter__button--desktop
                    +SimpleButton('Filter','sound-block__button j-filter-button','setting-icon',false,false)
                div.sound-block-filter__button--mobile
                    +SimpleButton('','sound-block__button j-filter-button','setting-icon',false,false)
                include components/filter/filter
        div.sound-block__sounds
            each item in sounds
                div.sound-block__sound.j-example-sound
                    div.sound__play
                        audio(id="sound__audio")
                            source(src=`/src/sound/${item.sound}.mp3`, type='audio/mp3')
                        div.sound__play-button.j-sound-play
                    div.sound__info
                        p.sound__name #{item.name}
                        p.sound__time #{item.time}
                    p.sound__description #{item.description}
                    div.sound__author #{item.author}
                    div.sound__controls
                        div.sound__controls-icon.sound__controls-icon-like.j-like-sound.j-control-button
                            include ../../../../images/icon/soud-controls/like.svg
                        img.sound__controls-icon(src='/src/images/icon/soud-controls/content-loading.svg')
                        img.sound__controls-icon(src='/src/images/icon/soud-controls/dots.svg')
        p.sound-block__all-sound See all sound effects
