extends constants
block content
    div.reviews-block.j-swiper-block
        div.container
            div.reviews-block__wrapper
                h3.reviews-block__title TESTIMONIALS
                p.reviews-block__subtitle Hear good experiences from our customers
                div.reviews-block__swiper
                    div.swiper.reviews-block__my-swiper.swiper-container.j-swiper
                        div.swiper-wrapper
                            each item in reviews
                                div.swiper-slide
                                    div.slide
                                        img(src='/src/images/icon/double-quotes.svg', alt='icon')
                                        p.slide__text=item.text
                                        img.slide__image(src=`/src/images/reviews/${item.image}.webp`, alt=item.image)
                                        div.slide__author
                                            p.slide__username=item.username
                                            p.slide__editor=item.editor
                        div.swiper-pagination


