mixin SimpleButton ( text, jClass,iconLeft, iconRight, link )
  if link
    a(href=link)
      button.simple-btn=text
  else
    button.simple-btn(class=jClass)
      if iconRight
        img(src=`/src/images/icon/${iconRight}.svg`, alt='setting-icon')
      =text
      if iconLeft
        img(src=`/src/images/icon/${iconLeft}.svg`, alt='setting-icon')


